<div class="view-detail">
	
	<my:navigation></my:navigation>

	<section ng:if="!Detail.details">
		LOADING...
	</section>

	<section ng:if="!!Detail.details">
		
		<h2>{{
			'myViewDetail_heading' | localise: {
				name: Detail.details.title
			}
		}}</h2>
		<my:avatar data-model="Detail.details" data-is-thumb="true"></my:avatar>

		<h3>{{ Detail.details.summary }}</h3>
		<a href="{{ details.summary }}">{{ Detail.details.website }}</a>
		<p>{{ Detail.details.description }}</p>
		
	</section>


</div>