<div class="my-tax-calculator">
	<fieldset class="my-skin-form">
		<h2>Tax Calculator</h2>
		<label>
			<input-title>Company day rate (&pound;)</input-title>
			<input type="number"
				ng:model="Tax.companyDayRatePounds">
		</label>
		<label>
			<input-title>No. weeks worked (per year)</input-title>
			<input type="number"
				ng:model="Tax.numWeeksOperating">
		</label>
		<label>
			<input-title>Annual expenses (&pound;)</input-title>
			<input type="number"
				ng:model="Tax.expensesPounds">
		</label>
		<hr>
		<h2>Shareholder 1</h2>
		<label>
			<input-title>Name</input-title>
			<input type="text"
				ng:model="Tax.people[0].name">
		</label>
		<label>
			<input-title>Share</input-title>
			<input type="number" max="1" min="0" step="0.1"
				ng:model="Tax.people[0].share">
		</label>
		<label>
			<input-title>Takes company salary</input-title>
			<input type="checkbox"
				ng:model="Tax.people[0].hasSalary">
		</label>
		<hr>
		<h2>Shareholder 2</h2>
		<label>
			<input-title>Name</input-title>
			<input type="text"
				ng:model="Tax.people[1].name">
		</label>
		<label>
			<input-title>Share</input-title>
			<input type="number" max="1" min="0" step="0.1"
				ng:model="Tax.people[1].share">
		</label>
		<label>
			<input-title>Takes company salary</input-title>
			<input type="checkbox"
				ng:model="Tax.people[1].hasSalary">
		</label>
		<hr>
	</fieldset>
	<section>
		<h2>Results</h2>
		<p>These are based on the maximum dividends being taken.  There are very probably errors in the tax based logic so please don't use this for anything but a fun guide!</p>
		<hr>
		<ul>
			<li ng:repeat="calc in Tax.calculations">
				<h3>{{ calc.description }}</h3>
				<p>Combined total net income: <strong>{{ calc.totals.peopleCombined.annualNetIncome | currency : '£' : 2 }}</strong></p>
				<p>Combined total monthly income: <strong>{{ calc.totals.peopleCombined.monthlyNetIncome | currency : '£' : 2 }}</strong></p>
				<p>Take home percentage: <strong>{{ calc.totals.peopleCombined.takeHomePercentage * 100 | number : 2 }}%</strong></p>
				<small>{{ calc.notes }}</small>
				<hr>
			</li>
		</ul>
		<h3>For now, I'm just outputting the most important information.  The rest is logged in the console.  Feel free to browse there until I get around to rendering a more detailed breakdown.</h3>
	</section>
</div>