// main page header
.my-header {
	padding: $gutterSize 0;
	color: $headerColor;
	background: $headerBackgroundColor;

	> header {
		margin: 0 $gutterSize;

		@media only screen and (min-width: $breakPoint) {
			width: 80%;
			max-width: 1280px;
			margin: 0 auto;
			padding: $gutterSize;
		}
	}

	h1 {
		font-family: $headerFont;
		font-weight: $headerWeight;
		font-size: $headerFontSize;
		color: rgba($headerColor, 0.5);

		strong {
			color: $headerColor;
			display: block;
		}
	}
}