// main page header
.my-header {
	padding: $gutterSize 0;
	color: $headerColor;
	background: $headerBackgroundColor;

	> header {
		padding: $gutterSize;

		h1 {
			font-size: $headerFontSize + 2;
			color: rgba($headerColor, 0.5);

			strong {
				font-size: $headerFontSize + 10;
				font-family: $headerFont;
				font-weight: $headerWeight;
				color: $headerColor;
				display: block;
				margin-bottom: 5px;
			}
		}

		@media only screen and (min-width: $breakPoint) {
			padding: $gutterSizeMid;
			// margin: 0 $gutterSizeMid;

			h1 {
				font-size: $headerFontSize * 1.2;
				font-family: $headerFont;
				font-weight: 400;
				// color: rgba($headerColor, 0.5);

				strong {
					font-size: $headerFontSize * 1.2;
					font-weight: $headerWeight;
					// color: $headerColor;
					display: inline;
				}
			}
		}

		@media only screen and (min-width: $breakPointWide) {
			width: 80%;
			max-width: 1280px;
			margin: 0 auto;
			padding: $gutterSizeWide;

			h1 {
				font-size: $headerFontSize * 1.5;

				strong {
					font-size: $headerFontSize * 1.5;
				}
			}
		}

	}
}