<div class="view-projects page-view">

	<my:header></my:header>

	<article>

		<div class="columns">
			<section>
				<h2>Currently I'm...</h2>
				<h3>...working with <a href="http://fathomlondon.com">Fathom London</a>, helping to develop products in financial services - using the latest front-end technologies including AngularJS, React, HTML5, CSS3, SASS and Gulp. Happily writing object oriented JavaScript, using responsive design techniques and working in an Agile development environment :)</h3>
				<p>Previously I was employed by <a href="http://tagcmd.com">Tag:cmd</a> as a Senior Front End Developer, working on a hugely complex single page app using OO JavaScript, Backbone.js, node.js, twitter bootstrap, LESS, communicating with a RESTful API</p>
				<p>Before Tag, I was a Senior Developer at <a href="http://werinteractive.com">We R Interactive</a>, building social games for multiple platforms, including <a href="http://lyroke.com">Lyroke</a> and <a href="http://iamplayr.com">I AM PLAYR</a>.</p>
				<p>I specialise in front-end/client-side development for web and mobile... <a href="/#/about">Read more about me</a></p>
				<hr>
			</section>

			<section>
				<h2>Recent projects</h2>
				<ul class="my-projects">
					<li ng:repeat="project in projects"
						class="project-list-item">
						<my:project-summary
							data-model="project"
						></my:project-summary>
						<hr>
					</li>
				</ul>
			</section>
		</div>
	</article>
	<my:footer></my:footer>
</div>