
$_avatarSize: 250px;
$_thumbSize: 100px;
$_iconSize: 25px;

@mixin avatarSize($size) {
	.initials {
		width: $size;
		height: $size;
		line-height: $size;
		text-align: center;
		font-size: $size * 0.3;
		color: rgba(black, 0.2);
		border: solid ceil($size * 0.01) white;
	}

	img {
		width: $size;
		height: $size;
		border: solid ceil($size * 0.01) white;
	}
}

.my-avatar {

	@include avatarSize($_avatarSize);

	&.thumb {
		@include avatarSize($_thumbSize);
	}


	&.icon {
		@include avatarSize($_iconSize);
	}
}