.my-project-summary {
	
	@extend %clearfix;

	.my-avatar {
		float: left;
		width: 25%;

		img {
			max-width: 100%;
		}

		display: none;
	}

	> section {
		// float: right;
		// width: 73%;
	}

	.my-project-summary_tags {
		@extend %clearfix;
	}

		.my-project-summary_tag {
			float: left;
			margin-right: 15px;

		}
}