
fieldset.my-skin-form {

	text-align: left;

	label {
		display: block;
		margin-bottom: $gutterSize;

		input-title {
			display: inline-block;
			margin-right: 10px;
		}

		input {
			border: solid 1px #ccc;
			padding: 5px 20px;
			min-width: 50px;

			&:focus {
				outline: none;
				border-color: $highlightColor;
			}
		}
	}
}