

.view-about {


	> article {

		.my-social-networks {

			text-align: center;
			margin-top: $gutterSize;
			margin-bottom: $gutterSize;

			@media only screen and (min-width: $breakPointSocialLinks) {
				display: none;
			}
			
			li {
				display: inline-block;
				padding: 5px;
				border-radius: 50px;
				background: $linkColor;
				transition: all 0.25s ease;


				&:hover {
					background: rgba(#029FFC, 1);
					background: rgba(black, 0.5);
				}

				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				a {
					display: block;
					width: 90px;
					height: 90px;
					background-size: contain;
					background-position: left center;
					background-repeat: no-repeat;
					line-height: 90px;
					transition: all 0.25s ease;

					span {
						display: none;
					}

					@media only screen and (max-width: 351px) {
						width: 80px;
						height: 80px;
					}
				}


				&.-github a {
					background-image: url('/images/github_large.png');
				}

				&.-linkedin a {
					background-image: url('/images/linkedin_large.png');
				}

				&.-twitter a {
					background-image: url('/images/twitter_large.png');
				}
			}
		}

		img {
			margin-bottom: $gutterSize;
		}
	}

}
