<div class="view-about page-view">

	<my:header></my:header>

	<article>
		
		<my:social-networks></my:social-networks>
		
		<div class="columns">
			<section>
				<h2>The professional me</h2>
				<h3>I specialise in front-end/client-side development for web and mobile. I spend most of my time writing object oriented JavaScript but still love to get my css and html fix when I get the chance. I'm currently using AngularJS, React, HTML5, CSS3 and SASS working with responsive designs for multiple platforms. I have previous commercial experience with Backbone.js, node.js, requirejs, LESS (&amp; Twitter Bootstrap).</h3>
				<p>Having come from a creative background I also have a keen eye for detail. Back in the day, I was in charge of a small creative development team working on multiple projects including consumer facing white labelled systems in both mortgage comparison and corporate social networking.</p>
				<p>I am highly motivated, passionate about technology, approach challenges logically and grasp new ideas quickly.</p>
				<hr>
				
				<img class="meandvic image" ng:src="{{ _familyImageSrc }}" alt="Will Thirkettle - front end developer - London" width="100%">
				<h2>Will the human</h2>
				<h3>Well what do you want to know?</h3>
				<p>I'm a very lucky boy - married to a pretty little thing called Vic and we have two lovely little boys. Harrison (5) who thinks he's the boss, loves super heroes and pretending to be one. Elliot (3) who won't stop climbing, won't sit still for more than 5 seconds and is in fact the boss.</p>
				<p>I like keeping active, cycling, playing football and I'm an avid follower of the mighty Norwich City FC. #OTBC #NCFC</p>
				<p>I like movies (who doesn't), love coffee, really love ale (the old man type although I don't currently have a beard) and in my spare time I like to keep up to date with the latest web trends / tech...</p>
				<hr>

				<h2>Latest activity</h2>
				<my:contribution-activity></my:contribution-activity>

			</section>
			<section>
				<h2>My social feed</h2>
				<h3>A mixture of blog posts and tweets.</h3>
				<hr>
				<my:blog></my:blog>
			</section>
		</div>
	</article>
	<my:footer></my:footer>
</div>