
body {
	font-family: $mainFont;
	color: $mainColor;
	background: $mainBackgroundColor;
}

.page-view {
	width: 80%;
	margin: 20px auto;
	background: white;
}


// skins
@import "./skins/form.scss";

// views
@import "../views/main/_main.scss";
@import "../views/detail/_detail.scss";