
body {
	font-family: $mainFont;
	color: $mainColor;
	background: $mainBackgroundColor;
}

.page-view {
	font-size: 20px;

	// main page header
	> header {
		padding: $gutterSize 0;
		color: $headerColor;
		background: $headerBackgroundColor;

		h1 {
			margin: 0 $gutterSize;
			font-size: $headerFontSize - 10;

			strong {
				font-size: $headerFontSize;
			}
		}
	}

	// main page content
	> section {
		padding: $gutterSize;
	}
}


// skins
@import "./skins/form.scss";

// views
@import "../views/main/_main.scss";
@import "../views/detail/_detail.scss";
@import "../components/navigation/_navigation.scss";