



$mainFont: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
$mainFontWeight: 300;
$mainFontWeightStrong: 700;
$mainColor: #69747C;
$mainBackgroundColor: #f5f5f5;
$pageBackgroundColor: #fafafa;
$linkColor: #5BA4CF;
$highlightColor: #029FFC;
$gutterSize: 15px;
$gutterSizeMid: 30px;
$gutterSizeWide: 50px;

$headerColor: #545454;
$headerBackgroundColor: #FCF12F;

$headerColor: white;
$headerBackgroundColor: #cc0000;

$headerFont: 'Oswald', sans-serif;
$headerWeight: 700;
$headerFontSize: 40px;


$headingFont: $mainFont;
$headingWeight: 700;

$subHeadingFont: 'Merriweather';
$subHeadingWeight: 400;

$headerNavFontSize: 25px;
$headerNavItemColor: transparent;



$breakPoint: 800px;
$breakPointWide: 1200px;
$breakPointSocialLinks: 650px;

@media only screen and (min-width: $breakPoint) {
}