
// dimensions
$gutterSize: 15px;
$gutterSizeMid: 30px;
$gutterSizeWide: 50px;

$breakPoint: 800px;
$breakPointWide: 1200px;
$breakPointSocialLinks: 650px;


// font family and weights - need to match the included google fonts in the link in index.html
$mainFont: 'Open Sans', 'Helvetica Neue', sans-serif;
$mainFontWeight: 300;
$mainFontWeightMid: 400;
$smallFontWeight: 400;
$mainFontWeightStrong: 600;

$condensedFont: 'Open Sans Condensed', 'Helvetica Neue', sans-serif;
$condensedFontWeight: 300;
$condensedFontWeightStrong: 700;

$headerFont: 'Oswald', sans-serif;
$headerWeight: 700;

$headingFont: $condensedFont;
$headingWeight: $condensedFontWeightStrong;

$subHeadingFont: 'Merriweather';
$subHeadingWeight: 400;


// colour scheme
$mainColor: #69747C;
$mainBackgroundColor: #f5f5f5;
$pageBackgroundColor: #fafafa;
$linkColor: #5BA4CF;
$highlightColor: #029FFC;

$headerColor: white;
$headerBackgroundColor: #cc0000;
$headerNavItemColor: transparent;


// font sizes
$headerFontSize: 40px;
$headerNavFontSize: 25px;



// discrete colour scheme
// $mainColor: #eee;
// $mainBackgroundColor: #f5f5f5;
// $pageBackgroundColor: #fafafa;
// $linkColor: #eee;
// $highlightColor: #ddd;

// $headerColor: white;
// $headerBackgroundColor: #eee;
// $headerNavItemColor: transparent;

// img {
// 	opacity: 0.1;

// 	&.loaded {
// 		opacity: 0.1 !important;
// 	}
// }