
.my-navigation {
	font-size: $headerNavFontSize;

	ul {
		margin-bottom: $gutterSize*2;
		@extend %clearfix;

		li {
			float: left;

			a {
				cursor: pointer;
				display: block;
				padding: 10px 0;
				color: rgba(white, 0.8);

				&:hover {
					color: white;
					background: $headerNavItemColor;
				}
			}

			margin-right: $gutterSize*2;
		}
	}
}