
.my-navigation {
	font-size: $headerNavFontSize;

	ul {
		margin-top: -$gutterSize;
		@extend %clearfix;

		li {
			float: left;

			a {
				cursor: pointer;
				display: block;
				padding: 10px 0;
				color: rgba(white, 0.7);

				&:hover {
					color: rgba(white, 0.85);
					background: $headerNavItemColor;
				}
			}

			&.-selected {
				a,
				a:hover {
					cursor: default;
					color: white;
				}
			}

			margin-right: $gutterSize*2;
		}
	}
}