<div class="view-project page-view">
	
	<my:header></my:header>
	
	<article ng:if="!!Project.error">
		<h2>{{ Project.error }}</h2>
		<p><a href="/">Take me home</a>.</p>
	</article>
	
	<article ng:if="!Project.details && !Project.error">
		<h2>Loading...</h2>
	</article>

	<article ng:if="!!Project.details && !Project.message">
		
		<h2>
			<a title="Go to: {{ Project.details.website }}" href="{{ Project.details.website }}">{{ Project.details.title }}</a>
		</h2>

		<testimonial ng:if="!!Project.getTestimonialAuthor()">
			<quote ng:bind-html="Project.getTestimonialQuoteHtml()"></quote>
			<author>{{ Project.getTestimonialAuthor() }}</author>
		</testimonial>
		<!-- 
		<my:avatar data-model="Project.details" data-is-thumb="true"></my:avatar> -->

		<h3>{{ Project.details.summary }}</h3>
		<p>{{ Project.details.description }}</p>
		
	</article>

	<my:footer></my:footer>

</div>